.headerClient{
    background-color: #c4c8d9;
    width: 1500px;
    height: 150px;
    padding-top: 20px;
    border-bottom-style: solid;
    border-bottom-color: darkslateblue;
    box-shadow: 0 0 5px 5px grey;
}

.menuClient{
    position: absolute;
    background-color: #dde1e3;
    margin-top: 0px;
    margin-left: 0px;
    width: 250px;
    height: 500px;
    padding-top: 10px;
    padding-left: 0px;
}

.bodyClient{
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 250px;
    margin-top: 0px;
    width: 1230px;
    height: 500px;
}

.footerClient{
    background-color: darkgrey;
    width: 1500px;
    margin-top: 500px;
    height: 50px;
    border-top-style: solid;
    border-top-color: #dde1e3;
    padding-top: 0px;
    padding-bottom: 0px;
}


.boutonMenu{
    position: center;
    cursor: pointer;
    width: 250px;
    height: 40px;
/*     font-size: 18px; */
/*     color: white; */
    text-align: center;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: darkslateblue;
/*     border-bottom-right-radius: 0px; */
    border-radius: 5px;
    padding-top: 5px;
    box-shadow: 5px 5px 5px 0 grey;
}

p{
	font-size: 18px;
    color: grey;
    font-weight: bold;
}

#admin{
	background-color: #dfe3e0;
	border-color: gray;
	padding-bottom: 10px;
	box-shadow: 5px 5px 5px 0 grey;
}

